
<div class="row">
    <div class="col-lg-7 col-lg-offset-1">
        <div class="row">
            <div class="col-lg-2">
                <img src="\Apps\Components\Home\Views\About\1.jpg" alt="Jahirul Islam" class="img-responsive img-circle" />
            </div>
            <div class="col-lg-6">
                <blockquote>
                    <p>Md. Jahirul Islam Bhuiyan</p>
                    <address>
                        <strong>Email</strong>
                        <a href="mailto:#">0nline4help@gmail.com</a>
                        <br />
                        <strong>Web</strong>
                        <a href="http://www.online4help.org">www.online4help.org</a>
                        <br />
                        <strong>Profle</strong>
                        <a href="https://bd.linkedin.com/in/jahirul-islam-bhuiyan-7a143036">at LinkedIn</a>

                    </address>
                    <footer>
                        Working in
                        <cite title="Southtech Limited">Southtech Limited</cite>
                    </footer>
                </blockquote>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="panel panel-default"
             ng-controller="RecentlyAddedController as rac">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-inbox"></span> Whats New</h3>
            </div>
            <div class="panel-body">
                -
            </div>
        </div>
        <div class="panel panel-default"
             ng-controller="BookmarkedController as bmc">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-bookmark"></span> Usefull Links</h3>
            </div>
            <div class="panel-body">
                -
            </div>
        </div>
        <div class="panel panel-default"
             ng-controller="MostlyUsedController as muc">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-star"></span> Popular</h3>
            </div>
            <div class="panel-body">
                -
            </div>
        </div>
    </div>
</div>
