
<div class="row">
    <div class="accordian">
        <ul style="padding-left:0px">
            <li>
                <div class="image_title">
                    <a href="#">Buyer</a>
                </div>
                <a href="#">
                    <img src="/Images/realestate_client.png" />
                </a>
            </li>
            <li>
                <div class="image_title">
                    <a href="#">Flat, Shop</a>
                </div>
                <a href="#">
                    <img src="/Images/realestate_product.png" />
                </a>
            </li>
            <li>
                <div class="image_title">
                    <a href="#">Booking</a>
                </div>
                <a href="#">
                    <img src="/Images/realestate_order.png" />
                </a>
            </li>
            <li>
                <div class="image_title">
                    <a href="#">Sales</a>
                </div>
                <a href="#">
                    <img src="/Images/realestate_schedule.png" />
                </a>
            </li>
            <li>
                <div class="image_title">
                    <a href="#">Report</a>
                </div>
                <a href="#">
                    <img src="/Images/realestate_report.png" alt="" />
                </a>
            </li>
        </ul>
    </div>
</div>
