@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12 alert-info">
        <h3> <span class="glyphicon glyphicon-th"></span> List of Apps </h3>
    </div>
</div>
<div id="viewList">

</div>

@section Styles {
    <style>
        
    </style>
}
